VBD VBN PrecedingFollowingWordsTag DT&NNS
IN WDT PrecedingFollowingWordsTag NN&VBD
IN WDT PrecedingFollowingWordsTag NN&VBZ
JJ NN PreviousTwoTag JJ&DT
VBP VB PrecedingWordTag TO
JJR RBR OneOfTwoFollowingWordsTag RB
VB VBP PrecedingWordTag NNS
VB NN TwoBeforeTag DT
IN WDT TwoAfterTag VB
VBD VBN PrecedingWordTag VBD
